
#menuSuperior{
	display: inline-flex;
	justify-content: space-between;
	width: 100%;
	padding: 10px 0px;
}
#navTop{
	background-color: rgba(144, 9, 55,0.9);
	color: white;
}


#navbar{
	text-align: center;
	border-top: 2px solid white;
}

#headerWrap{
	background-image: url("../img/divider1.jpg");
	background-size: cover;
	min-height: 350px;
	margin-top: 0px;
}

.mycontainer{
	width: 90%;
	margin:0 auto;
}

/******************* Final estilos menu superior ************/

#div2{
	margin-bottom: 30px;
	margin-top: 39px;
}
.colorLogo{
	color: rgb(150, 19, 58);
	
}

.cursiva{text-align: center;
	font-style: italic;
	letter-spacing: 3px;
	line-height: 1.2;
}
.negrita{
	font-weight: bold;
}

/* *************  Final estilos texto principal ***************/

#div3{
	background-image: url("../img/captura.png");
	background-size: 100% 100%;
	min-height: 350px;
	width:100%;
	border-top: 20px solid rgb(150, 19, 58);
}

/****** Final estilos div3 *********************/

#div4{
	text-align: center;
}

#div4 p{
	padding: 10px;
	font-size: 1.5em;
}

/****** Final estilos div4 *********************/

#div5{
	border-top: 20px solid rgb(150, 19, 58);
	min-height: 350px;
	background-color: gray;
}

/****** Final estilos div5 *********************/

#div6{
	text-align: center;
}

#div6 p{
	padding: 10px;
	font-size: 1.5em;
}
/****** Final estilos div6 *********************/

#div7{
	
	background-image: none;
	min-height: 0px;
	border-top: 20px solid rgb(150, 19, 58);
}

@media (min-width: 768px) {
	#div7{
	background-image: url("../img/captura2.png");
	min-height: 350px;
	background-size: cover;
	}
}

/****** Final estilos div7 *********************/

#div8{
	background-color: rgb(150, 19, 58); 
	text-align: center;

}

#div8 h1{
	font-size: 3.2em;
	color:white;
	font-style: italic;
	padding-top: 25px;
	padding-bottom: 25px;
}

/****** Final estilos div8 *********************/
#div9 h2{
	color: rgb(150,19,58);
}
#div9 img{
	max-width: 100%;
}

/****** Final estilos div9 *********************/

#div10{
	min-height: 0px;
	background-image: none;
	/*border-top: 20px solid rgb(150, 19, 58);*/
}

@media (min-width: 768px) {
	#div10{
	background-image: url("../img/Captura16.png");
	min-height: 350px;
	background-size: 100% 100%;
	}
}

/****** Final estilos div9 *********************/
#div11 img{
	max-width: 40%;
}
#a{
	text-align: center;
}